body{
    background-image: url(https://images-na.ssl-images-amazon.com/images/S/sgp-catalog-images/region_US/nfkyc-Y74G8X7C9D1-Full-Image_GalleryBackground-en-US-1535575828915._RI_.jpg);
    }
h1{
    background-color:rgb(192, 240, 255);
    color: purple;
}

#show_sketch{
    float: right;
}

p{
    font-size: 25px;
    padding-top: 10px;
    font-family: jokerman;
    color: blueviolet;
}

#score{
    font-size: 30px;
    font-family:monospace;
    margin-left:800px;
    color:wheat;
}

#timer{
    font-size: 30px;
    font-family: monospace;
    margin-right: 50px;
    float: right;
    color:wheat;
}


